 <div class="purchase-status-container success-bg">
      <div class="status-card">
        <h1 class="status-title success-color">¡Compra Exitosa!</h1>
        <p class="status-message">Tu pago ha sido procesado correctamente. ¡Gracias por tu compra!</p>
        <div class="button-group">
          <a routerLink="/" class="status-button primary-button">Volver al Menú</a>
          <a routerLink="/purchase-history" class="status-button secondary-button">Ver Historial de Compras</a>
        </div>
      </div>
    </div>
