<div class="purchase-status-container failure-bg">
      <div class="status-card">
        <h1 class="status-title failure-color">¡Pago Fallido!</h1>
        <p class="status-message">Hubo un problema al procesar tu pago. Por favor, inténtalo de nuevo.</p>
        <div class="button-group">
          <a routerLink="/cart" class="status-button primary-button">Volver al Carrito</a>
          <a routerLink="/" class="status-button secondary-button">Volver al Menú</a>
        </div>
      </div>
    </div>
